*{
    margin:0;
   }

 #tabela{
     position:relative;
     margin-top: 80px;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
     
 }  
   
#popup{
    width: 500px;
    height: 600px;
    margin-left: auto;   
    margin-right: auto;
    margin-top: 100px;
    position: fixed;
    display: none;
      
    
}
#imagemUser{
    left: 184px;
    position: absolute;
    z-index: 1;
    
    
}
img{
    border-radius: 50%;
    border:2px solid
    
}
#nome{
    margin-top: 15%;
    width: 100%;
    
}
#nome p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
}
#descricao{
    position: absolute;
    z-index: 0;
    margin-top: 12%;
    width: 100%;
    height: 500px;
    border:2px solid
    
}
.close {
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }
  #fechar{
      position: relative;
  }
  p{
      margin-top: 20px;
      margin-left: 35px;
  }
  
 

  #pesquisa{
      width: 165px;
  }

  .filtrostabela{
    display: inline;
    width: 100px;
    margin: 15px;
  }

  .searchfilters{
      margin-top: 80px;
  }


/* cabeçalho da mesa fixado a partir da rolagem */

.tableFixHead thead tr  th{ position: sticky; top:133px; z-index: 1; padding-left: 10px;padding-right: 10px;}
/* Just common table stuff. Really. */




th { background:rgb(139, 135, 135)}

  #header {
    background-color: white;
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 1;
}
  
  